.background-image {
    background-color: black;
}

.training-card {
    position: relative;
    overflow: hidden;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fait apparaître le fond noir avec transparence */
}

.training-info {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fait apparaître le rectangle noir avec transparence */
    padding: 5px;
}

/* .program-number {
    width: 50px;
    height: 50px;
    background-color: #40dbc1;
    color: white;
    font-size: 24px;
    font-weight: bold;
} */

.bg-black {
    background-color: rgba(0, 0, 0, 0.7); /* Fait apparaître le fond noir avec transparence */
}

.bg-custom-color {
    background-color: #40dbc1;
}

.training-info {
    background-color: #2d3450;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .program-number {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    background-color: #40dbc1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  

